{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome to Photash{% endblock %}

{% block body %}

<section>
	<div class="inner-more">
		<div class="container">
			<div class="feed-title-wrap">
				<a href="">Best of Photash</a>
				<a href="">Photos of Day</a>
				<a href="">Winners</a>
				<hr>
			</div>
			<div class="feeds-wrapper">
				<div class="grid-sizer"></div>

					<div class="feed-item">
					    <img src="{% static 'images/home-images/1.jpg' %}" />
					    <div class="feed-overlay">
					    	<p>Girl sada asdsadsds</p>
					    	<button class="btn btn-fill">Vote</button>
					    	<button class="btn-txt-only">&hellip;</button>
					    	<button class="btn-report">Report</button>
					    </div>
					</div>

					<div class="feed-item">
					    <img src="{% static 'images/home-images/2.jpg' %}" />
					    <div class="feed-overlay">
					    	<p>Girl sada asdsadsds</p>
					    	<button class="btn btn-fill">Vote</button>
					    	<button class="btn-txt-only">&hellip;</button>
					    	<button class="btn-report">Report</button>
					    </div>
					</div>

					<div class="feed-item">
					   <img src="{% static 'images/home-images/3.jpg' %}" />
					   <div class="feed-overlay">
					    	<p>Girl sada asdsadsds</p>
					    	<button class="btn btn-fill">Vote</button>
					    	<button class="btn-txt-only">&hellip;</button>
					    	<button class="btn-report">Report</button>
					    </div>
					</div>

					<div class="feed-item">
					    <img src="{% static 'images/home-images/10.jpg' %}" />
					    <div class="feed-overlay">
					    	<p>Girl sada asdsadsds</p>
					    	<button class="btn btn-fill">Vote</button>
					    	<button class="btn-txt-only">&hellip;</button>
					    	<button class="btn-report">Report</button>
					    </div>
					</div>

					<div class="feed-item">
					    <img src="{% static 'images/home-images/11.jpg' %}" />
					    <div class="feed-overlay">
					    	<p>Girl sada asdsadsds</p>
					    	<button class="btn btn-fill">Vote</button>
					    	<button class="btn-txt-only">&hellip;</button>
					    	<button class="btn-report">Report</button>
					    </div>
					</div>

					<div class="feed-item">
					    <img src="{% static 'images/home-images/5.jpg' %}" />
					    <div class="feed-overlay">
					    	<p>Girl sada asdsadsds</p>
					    	<button class="btn btn-fill">Vote</button>
					    	<button class="btn-txt-only">&hellip;</button>
					    	<button class="btn-report">Report</button>
					    </div>
					</div>

					<div class="feed-item">
					    <img src="{% static 'images/home-images/6.jpg' %}" />
					    <div class="feed-overlay">
					    	<p>Girl sada asdsadsds</p>
					    	<button class="btn btn-fill">Vote</button>
					    	<button class="btn-txt-only">&hellip;</button>
					    	<button class="btn-report">Report</button>
					    </div>
					</div>

					<div class="feed-item">
					    <img src="{% static 'images/home-images/4.jpg' %}" />
					    <div class="feed-overlay">
					    	<p>Girl sada asdsadsds</p>
					    	<button class="btn btn-fill">Vote</button>
					    	<button class="btn-txt-only">&hellip;</button>
					    	<button class="btn-report">Report</button>
					    </div>
					</div>

					<div class="feed-item">
					    <img src="{% static 'images/home-images/9.jpg' %}" />
					    <div class="feed-overlay">
					    	<p>Girl sada asdsadsds</p>
					    	<button class="btn btn-fill">Vote</button>
					    	<button class="btn-txt-only">&hellip;</button>
					    	<button class="btn-report">Report</button>
					    </div>
					</div>

					<div class="feed-item">
					    <img src="{% static 'images/home-images/12.jpg' %}" />
					    <div class="feed-overlay">
					    	<p>Girl sada asdsadsds</p>
					    	<button class="btn btn-fill">Vote</button>
					    	<button class="btn-txt-only">&hellip;</button>
					    	<button class="btn-report">Report</button>
					    </div>
					</div>

					<div class="feed-item">
					    <img src="{% static 'images/home-images/14.jpg' %}" />
					    <div class="feed-overlay">
					    	<p>Girl sada asdsadsds</p>
					    	<button class="btn btn-fill">Vote</button>
					    	<button class="btn-txt-only">&hellip;</button>
					    	<button class="btn-report">Report</button>
					    </div>
					</div>

					<div class="feed-item">
					    <img src="{% static 'images/home-images/13.jpg' %}" />
					    <div class="feed-overlay">
					    	<p>Girl sada asdsadsds</p>
					    	<button class="btn btn-fill">Vote</button>
					    	<button class="btn-txt-only">&hellip;</button>
					    	<button class="btn-report">Report</button>
					    </div>
					</div>

					<div class="feed-item">
					    <img src="{% static 'images/home-images/8.jpg' %}" />
					    <div class="feed-overlay">
					    	<p>Girl sada asdsadsds</p>
					    	<button class="btn btn-fill">Vote</button>
					    	<button class="btn-txt-only">&hellip;</button>
					    	<button class="btn-report">Report</button>
					    </div>
					</div>

					<div class="feed-item">
					    <img src="{% static 'images/home-images/15.jpg' %}" />
					    <div class="feed-overlay">
					    	<p>Girl sada asdsadsds</p>
					    	<button class="btn btn-fill">Vote</button>
					    	<button class="btn-txt-only">&hellip;</button>
					    	<button class="btn-report">Report</button>
					    </div>
					</div>

					<div class="feed-item">
					    <img src="{% static 'images/home-images/13.jpg' %}" />
					    <div class="feed-overlay">
					    	<p>Girl sada asdsadsds</p>
					    	<button class="btn btn-fill">Vote</button>
					    	<button class="btn-txt-only">&hellip;</button>
					    	<button class="btn-report">Report</button>
					    </div>
					</div>
			</div>
		</div>
	</div>
</section>
    
    {% block scripts %}
        <script type="text/javascript" src="{% static 'js/owl.carousel.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/masonry-feed.js' %}"></script>
    {% endblock %}
{% endblock %}





      

    
