{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome to Photash{% endblock %}

{% block body %}
    <a href ="#" class="back-to-top">BACK TO TOP</a>

<section class="home-main-section">
    <div class="inner-more">
        <div class="container home-cont">
            <div class="row">
                <div class="col-lg-7 col-md-12 img-col-wrapper">
                    <div class="row">
                        <div class="col-sm-2 col-xs-4 imgs-col">
                            <div class="img-holder lg" style='background-image:url("{% static 'images/home-images/1.jpg' %}")'></div>
                            <div class="img-holder md" style='background-image:url("{% static 'images/home-images/6.jpg' %}")'></div>
                            <div class="img-holder sm" style='background-image:url("{% static 'images/home-images/9.jpg' %}")'></div>
                        </div>
                       
                        <div class="col-sm-2 col-xs-4 imgs-col">
                            <div class="img-holder xs" style='background-image:url("{% static 'images/home-images/2.jpg' %}")'></div>
                            <div class="img-holder sm" style='background-image:url("{% static 'images/home-images/4.jpg' %}")'></div>
                            <div class="img-holder sm" style='background-image:url("{% static 'images/home-images/9.jpg' %}")'></div>
                            <div class="img-holder lg" style='background-image:url("{% static 'images/home-images/10.jpg' %}")'></div>
                        </div>

                         <div class="col-sm-2 col-xs-4 imgs-col">
                            <div class="img-holder xs" style='background-image:url("{% static 'images/home-images/2.jpg' %}")'></div>
                            <div class="img-holder md" style='background-image:url("{% static 'images/home-images/6.jpg' %}")'></div>
                            <div class="img-holder sm" style='background-image:url("{% static 'images/home-images/7.jpg' %}")'></div>
                            <div class="img-holder md" style='background-image:url("{% static 'images/home-images/11.jpg' %}")'></div>
                        </div>

                        <div class="col-sm-2 col-xs-4 imgs-col">
                            <div class="img-holder xs" style='background-image:url("{% static 'images/home-images/4.jpg' %}")'></div>
                            <div class="img-holder sm" style='background-image:url("{% static 'images/home-images/4.jpg' %}")'></div>
                            <div class="img-holder md" style='background-image:url("{% static 'images/home-images/8.jpg' %}")'></div>
                            <div class="img-holder md" style='background-image:url("{% static 'images/home-images/6.jpg' %}")'></div>
                        </div>
                        <div class="col-sm-2 col-xs-4 imgs-col">
                            <div class="img-holder lg" style='background-image:url("{% static 'images/home-images/10.jpg' %}")'></div>
                            <div class="img-holder sm" style='background-image:url("{% static 'images/home-images/9.jpg' %}")'></div>
                            <div class="img-holder lg" style='background-image:url("{% static 'images/home-images/12.jpg' %}")'></div>
                        </div>
                        <div class="col-sm-2 col-xs-4 imgs-col">
                            <div class="img-holder sm" style='background-image:url("{% static 'images/home-images/11.jpg' %}")'></div>
                            <div class="img-holder lg" style='background-image:url("{% static 'images/home-images/12.jpg' %}")'></div>
                            <div class="img-holder lg" style='background-image:url("{% static 'images/home-images/10.jpg' %}")'></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 form-col">
                    {% include 'register_form.html' with register_form=form %}
                </div>

                <div class="col-sm-12 iconbox-col">
                    <div class="row steps-iconbox-wrapper">
                        <div class="col-lg col-md-12">
                            <div class="step-iconbox">
                                <div class="icon-title">
                                    <p>ÇEK!</p>
                                </div>
                                <div class="icon-img-wrapper">
                                    <img src="{% static 'images/steps/n-1.png' %}">
                                </div>
                                <div class="button-wrapper">
                                    <button class="btn btn-fill step-btn">1. Adım</button>
                                    <p>Doğa, yaşam, hayvanlar, deniz ...</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg col-md-12">
                            <div {% if not random_contest == None %}onclick="location.href='{% url "contest:index" %}'" {% endif %}class="step-iconbox">
                                <div class="icon-title">
                                    <p>YARIŞMA BUL!</p>
                                </div>
                                <div class="icon-img-wrapper">
                                    <img src="{% static 'images/steps/n-2.png' %}">
                                </div>
                                <div class="button-wrapper">
                                    <button class="btn btn-fill step-btn">2. Adım</button>
                                    <p>Çektiğin fotoğrafın kategorisinde bir yarışma bul!</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg col-md-12">
                            <div {% if not random_contest == None %}onclick="location.href='{% url "contest:photo_upload" slug=random_contest.slug %}'" {% endif %}class="step-iconbox">
                                <div class="icon-title">
                                    <p>YÜKLE!</p>
                                </div>
                                <div class="icon-img-wrapper">
                                    <img src="{% static 'images/steps/n-3.png' %}">
                                </div>
                                <div class="button-wrapper">
                                    <button class="btn btn-fill step-btn">3. Adım</button>
                                    <p>Fotoğrafını ilgili yarışmaya yükle!</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg col-md-12">
                            <div {% if not random_contest == None %} onclick="location.href='{% url "contest:detail" slug=random_contest.slug %}'" {% endif %}class="step-iconbox">
                                <div class="icon-title">
                                    <p>UFAK ŞARTLARI HALLET!</p>
                                </div>
                                <div class="icon-img-wrapper">
                                    <img src="{% static 'images/steps/n-4.png' %}">
                                </div>
                                <div class="button-wrapper">
                                    <button class="btn btn-fill step-btn">4. Adım</button>
                                    <p>Merak etme sadece 30 saniyeni alacak :)</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg col-md-12">
                            <div {% if not random_contest == None %}onclick="location.href='{% url "contest:photopool" slug=random_contest.slug %}'" {% endif %} class="step-iconbox">
                                <div class="icon-title">
                                    <p>OYLA VE YARIŞ!</p>
                                </div>
                                <div class="icon-img-wrapper">
                                    <img src="{% static 'images/steps/n-5.png' %}">
                                </div>
                                <div class="button-wrapper">
                                    <button class="btn btn-fill step-btn">5. Adım</button>
                                    <p>En kaliteli fotoğrafları keşfet ve istersen beğen!</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}





      

    
