{% extends 'base.html' %}
{% load static %}


{% block title %}Contest Features{% endblock %}

{% block body %}


<section class="info">
    <div class="container">
        <div class="inner-more">
            <table  class="table table-hover">
                  <tbody>
                    <tr>
                        <th>Contest Name</th>
                            <td>{{ contest.contest_name }}</td>
                    </tr>
                    <tr>
                        <th>Contest Tag</th>
                            <td>{{ contest.tag }} </td>
                    </tr>
                    <tr>
                        <th>Start Date</th>
                            <td>{{  contest.start_date }}</td>
                    </tr>
                    <tr>
                        <th>End Date</th>
                            <td>{{ contest.end_date }}</td>
                    </tr>
                    <tr>
                        <th>Minimum amount of votes you need to distribute</th>
                            <td>{{  contest.min_must_votes }}
                                {% if request.user.is_authenticated %}
                                    (You've distributed {{ vote_count }})
                                {% endif %}
                            </td>
                    </tr>
                    <tr>
                        <th>Minimum average</th>
                            <td>{{  contest.min_avg }}
                                {% if request.user.is_authenticated %}
                                    (Your's is {{ vote_avg }})
                                {% endif %}
                            </td>
                    </tr>
                    <tr>
                        <th>Minimum standart deviation</th>
                            <td>{{  contest.min_stddev }}
                                {% if request.user.is_authenticated %}
                                    (Your's is {{ vote_stddev }})
                                {% endif %}
                            </td>
                    </tr>
                    <tr>
                        <th>Number of photos in photopool</th>
                            <td>{{ contest.photos.count }}</td>
                    </tr>
                    <tr>
                        <th>Maximum number of photos you can send to photopool</th>
                            <td>{{ contest.max_photos_per_Reguser }}
                                {% if request.user.is_authenticated %}
                                    (You have uploaded {{ num_of_uploaded_photos }})

                                    {% if num_of_uploaded_photos == 0 %}
                                        <a href="{% url "contest:photo_upload" slug=contest.slug %}">Join now!</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                    </tr>
                    <tr>s
                        <th>Prize distributions</th>
                            <td>{{  contest.prize_distributions }}</td>
                    </tr>
                  <!--Buraya daha çok detay eklenebilir, aşağıdaki kısımda fazla detaylar var-->
                </tbody>
            </table>
            {% if request.user.is_authenticated %}
                <form style="display: inline;" action={% url "contest:photo_upload" slug=contest.slug %}>
                    <input class="btn btn-success btn-lg" type="submit" value="Send photo to Contest" >
                </form>
            {% endif %}
            <form style="display: inline;" action={% url "contest:photopool" slug=contest.slug %}>
                    <input class="btn btn-primary btn-lg" type="submit" value="See the Photopool">
            </form>
            <form style="display: inline;" action={% url "contest:rankings" slug=contest.slug %}>
                    <input class="btn btn-danger btn-lg" type="submit" value="Rankings">
            </form>
        </div>
    </div>
</section>

<section style="margin-bottom: 50px;" class="examples">
    <div class="container">
        <div class="examples-top">
            <h3>{{ contest.contest_name }} Example Photos</h3>
        </div>
        <div class="examples-content">
            <div class="row">
                {% for example in examples %}
                    <div class="col-sm-4">
                        <div class="card" style="border-color: black;">
                            <img src="{{ example.photoItself.url }}" alt="Example Photo" style="width: 350px; height: 200px;">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<script>

    $(document).ready( function(){
        $.ajax({
            url: '{% url 'contest_api:detail' slug=contest.slug %}',
            type: 'get',
            success: function(result){
                console.log(result);
                // any function or code needed in order to write or read the data.
            },
            error:function(result){
                console.log('error: ' + result);
            }
        });
    });


</script>

{% endblock %}