{% extends 'base.html' %}
{% load static %}


{% block title %}Contest Features{% endblock %}

{% block body %}

<section id= "contest-detail-section" class="contest-detail-sec">
  <div class="inner-more">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 img-col">
                  <div class="contest-img-wrap">
                      <img id="topic-photo" src="">
                  </div>
              </div>

              <div class="col-lg-6 contest-detail-col">
                  <div class="contest-detail-content-wrap">
                      <table class="table table-hover">
                          <tbody>
                              <tr>
                                  <th>Yarışma İsmi</th>
                                      <td id="cname">value["contest_name"]</td>
                              </tr>
                              <tr>
                                  <th>Başlangıç Tarihi</th>
                                      <td class="contest-start-date"> contestStartDate </td>
                              </tr>
                              <tr>
                                  <th>Bitiş Tarihi</th>
                                      <td class="contest-end-date">contestEndtDate</td>
                              </tr>
                              <tr>
                                  <th>Ödül Dağılımı</th>
                                      <td>
                                          <button id="prize-open-btn" class="btn-txt-only"><i class="fa fa-chevron-down"></i></button>
                                              <ul class="prize-list">
                                                  <li><span>1</span> <strong>500$</strong> <span>Hawaii Vacation</span></li>
                                                  <li><span>2</span> <strong>100$</strong> <span>Bosphorus Tour</span></li>
                                                  <li><span>3</span> <strong>50$</strong> <span></span></li>
                                                  <li><span>4-20</span> <strong>10$</strong> <span></span></li>
                                              </ul>
                                      </td>
                              </tr>
                              <tr class="tr-btn-wrap">
                                  <th>Ayrıntılar</th>
                                      <td><button id="mini-detail-open-btn" class="btn-txt-only"><i class="fa fa-chevron-down"></i></button></td>
                              </tr>

                          </tbody>
                      </table>
                      <div id="contest-details-wrap-mini">
                          <table class="table table-mini-details">
                              <tbody>
                                  <tr>
                                      <th>Görmeniz gereken minimum fotoğraf sayısı</th>
                                          <td id="min-seen-photos"></td>
                                  </tr>
                                  <tr>
                                      <th>Havuzdaki fotoğraf sayısı</th>
                                          <td id="how-many-photos"></td>
                                  </tr>
                                  <tr>
                                      <th>Yükleyebileceğiniz maksimum fotoğraf sayısı</th>
                                          <td id="max-photos"></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="button-wrap">
                          {% if request.user.is_authenticated %}
                              <form action='{% url 'contest:photo_upload' slug=contest.slug %}'>
                                  <input class="btn btn-fill" type="submit" value="Yükle">
                              </form>
                          {% endif %}
                              <form action='{% url 'contest:photopool' slug=contest.slug %}'>
                                  <input class="btn btn-fill" type="submit" value="Havuz">
                              </form>
                              <form action='{% url 'contest:rankings' slug=contest.slug %}'>
                                  <input id="rankings" class="btn btn-fill" type="submit" value="Sıralamalar" data-toggle="tooltip" title="Rankings will be visible after the contest ends">
                              </form>
                      </div>
                      <div class="contest-tags-wrap">
                          <div class="tags-wrap"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section style="margin-bottom: 50px;" class="examples">
    <div class="container">
        <div class="examples-top">
            <h3>Havuzdan örnek fotoğraflar</h3>
        </div>
        <div class="examples-content">
            <div class="row">
                    <div class="col-sm-4">
                        <div id="card1" class="card" style="border-color: black;">
                            <img src="" alt="Example Photo" style="width: 350px; height: 200px;">
                        </div>
                    </div>
                    <div id="card2" class="col-sm-4">
                        <div class="card" style="border-color: black;">
                            <img src="" alt="Example Photo" style="width: 350px; height: 200px;">
                        </div>
                    </div>
                    <div id="card3" class="col-sm-4">
                        <div class="card" style="border-color: black;">
                            <img src="" alt="Example Photo" style="width: 350px; height: 200px;">
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>

<script>

    $(document).ready( function(){

        $.ajax({
            url: '{% url 'contest_api:detail' slug=contest.slug %}',
            type: 'get',
            success: function(value){
                console.log(value);
                $(".cname").text(value["contest_name"]);

                var tagAsStr = '';
                $.each(value['tag'], function(index, data){
                      tagAsStr += "#" + data.title + " ";
                });

                var getContestStartDate = new Date(value["start_date"]);  // Get Contest End Date in ISO Format
                var getContestEndDate = new Date(value["end_date"]);  // Get Contest Start Date in ISO Format
                year = [getContestStartDate.getFullYear() , getContestEndDate.getFullYear()]
                month = [getContestStartDate.getMonth(), getContestEndDate.getMonth()]
                dt = [getContestStartDate.getDate(), getContestEndDate.getDate()]

                //add 0 if date,months are not 2 digits
                if (dt<10) {
                  dt = '0' + dt;
                }

                var monthNames = ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"];  //Change month number to String
                contestStartDate = dt[0] + ' ' + monthNames[month[0]] + ' ' + year[0];  //COnverted to Short Date Format,
                contestEndDate = dt[1] + ' ' + monthNames[month[1]] + ' ' + year[1];  //COnverted to Short Date Format

                $("#topic-photo").attr("src",value['topic_photo']);
                $("#cname").html(value['contest_name']);
                $(".contest-start-date").html(contestStartDate);
                $(".contest-end-date").html(contestEndDate);
                $("#min-seen-photos").html(value['min_seen_photos']);
                $("#how-many-photos").html(value['photo_count']);
                $("#max-photos").html(value['max_photos_per_Reguser']);
                $(".tags-wrap").html(tagAsStr);

                if(value['is_finished']!=true)
                    $("#rankings").attr("disabled", "true");


                $("#card1 img").attr("src",value['examples'][0]['photoItself']);
                $("#card2 img").attr("src",value['examples'][1]['photoItself']);
                $("#card3 img").attr("src",value['examples'][2]['photoItself']);


                $(document).ready(function(){
                  
                  var val = 1;
                  $(".contest-detail-content-wrap .contest-tags-wrap>.btn-txt-only").click(function(){
                      if (val === 1) {
                          $(this).siblings('.form-report').show();
                          val = 0;
                      }
                      else {
                          val = 1;
                          $(this).siblings('.form-report').hide();
                      }
                      return false;
                    });
                

                $("#mini-detail-open-btn").click(function(){
                      if (val == 1) {
                          $('#contest-details-wrap-mini').css({
                            'visibility':'visible',
                            'opacity':'1'
                          });
                          val = 0;
                      }
                      else {
                          val = 1;
                          $('#contest-details-wrap-mini').css({
                            'visibility':'hidden',
                            'opacity':'0'
                          });
                      }
                      return false;
                    });
                

               $(".contest-detail-content-wrap #prize-open-btn").click(function(){
                        if (val === 1) {
                            $(this).siblings('.prize-list').css({
                            'visibility':'visible',
                            'opacity':'1',
                            'height':'100%'
                          });
                            $(this).css('transform','rotate(-180deg)');
                            val = 0;
                        }

                        else {
                            val = 1;
                            $(this).siblings('.prize-list').css({
                            'visibility':'hidden',
                            'opacity':'0',
                            'height':'0'
                          });
                            $(this).css('transform','rotate(0deg)');
                        }

                        return false;
                    });
               });
            },
            error:function(result){
                console.log('error: ' + result);
            }
        });
    });
</script>

{% endblock %}

