{% extends 'base.html' %}
{% load static %}


{% block title %}Contest Features{% endblock %}

{% block body %}

<section id= "contest-detail-section" class="contest-detail-sec">
  <div class="inner-more">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 img-col">
                  <div class="contest-img-wrap">
                      <img id="topic-photo" src="">
                  </div>
              </div>

              <div class="col-lg-6 contest-detail-col">
                  <div class="contest-detail-content-wrap">
                      <table class="table table-hover">
                          <tbody>
                              <tr>
                                  <th>Contest Name</th>
                                      <td id="cname">value["contest_name"]</td>
                              </tr>
                              <tr>
                                  <th>Start Date</th>
                                      <td class="contest-start-date"> contestStartDate </td>
                              </tr>
                              <tr>
                                  <th>End Date</th>
                                      <td class="contest-end-date">contestEndtDate</td>
                              </tr>
                              <tr>
                                  <th>Price Distribution</th>
                                      <td>
                                          <button id="prize-open-btn" class="btn-txt-only"><i class="fa fa-chevron-down"></i></button>
                                              <ul class="prize-list">
                                                  <li><span>1</span> <strong>500$</strong> <span>Hawaii Vacation</span></li>
                                                  <li><span>2</span> <strong>100$</strong> <span>Bosphorus Tour</span></li>
                                                  <li><span>3</span> <strong>50$</strong> <span></span></li>
                                                  <li><span>4-20</span> <strong>10$</strong> <span></span></li>
                                              </ul>
                                      </td>
                              </tr>
                              <tr class="tr-btn-wrap">
                                  <th>Details</th>
                                      <td><button id="mini-detail-open-btn" class="btn-txt-only"><i class="fa fa-chevron-down"></i></button></td>
                              </tr>

                          </tbody>
                      </table>
                      <div id="contest-details-wrap-mini">
                          <table class="table table-mini-details">
                              <tbody>
                                  <tr>
                                      <th>Minimum amount of votes you need to distribute</th>
                                          <td id="min-must-votes">value["min_must_votes"]</td>
                                  </tr>
                                  <tr>
                                      <th>Minimum average</th>
                                          <td id="min-avg">value["min_avg"]</td>
                                  </tr>
                                  <tr>
                                      <th>Minimum standard deviation</th>
                                          <td id="min-stddev">value["min_stddev"]</td>
                                  </tr>
                                  <tr>
                                      <th>Number of Photos in photopool</th>
                                          <td id="how-many-photos"></td>
                                  </tr>
                                  <tr>
                                      <th>Maximum number of photos you can send</th>
                                          <td id="max-photos">value["max_photos_per_Reguser"]</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="button-wrap">
                          {% if request.user.is_authenticated %}
                              <form action='{% url 'contest:photo_upload' slug=contest.slug %}'>
                                  <input class="btn btn-fill" type="submit" value="Send Photo">
                              </form>
                          {% endif %}
                              <form action='{% url 'contest:photopool' slug=contest.slug %}'>
                                  <input class="btn btn-fill" type="submit" value="Photopool">
                              </form>
                              <form action='{% url 'contest:rankings' slug=contest.slug %}'>
                                  <input class="btn btn-fill" type="submit" value="Rankings">
                              </form>
                      </div>
                      <div class="contest-tags-wrap">
                          <div class="tags-wrap"></div>
                              <button class="btn-txt-only"><i class="fa fa-chevron-down"></i></button>
                                  <form class="form-report" onclick="report('{{ contest.id }}')">
                                      <input class="btn-report" type="submit" value="Report">
                                  </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section style="margin-bottom: 50px;" class="examples">
    <div class="container">
        <div class="examples-top">
            <h3>{{ contest.contest_name }} Example Photos</h3>
        </div>
        <div class="examples-content">
            <div class="row">
                {% for example in examples %}
                    <div class="col-sm-4">
                        <div class="card" style="border-color: black;">
                            <img src="{{ example.photoItself.url }}" alt="Example Photo" style="width: 350px; height: 200px;">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<script>

    $(document).ready( function(){
        $.ajax({
            url: '{% url 'contest_api:detail' slug=contest.slug %}',
            type: 'get',
            success: function(value){
                console.log(value);
                console.log(value["contest_name"]);

                $(".cname").text(value["contest_name"]);

                var tagAsStr = '';
                $.each(value['tag'], function(index, data){
                      tagAsStr += "#" + data.title + " ";
                });

                var getContestStartDate = new Date(value["start_date"]);  // Get Contest End Date in ISO Format
                var getContestEndDate = new Date(value["end_date"]);  // Get Contest Start Date in ISO Format
                year = [getContestStartDate.getFullYear() , getContestEndDate.getFullYear()]
                month = [getContestStartDate.getMonth(), getContestEndDate.getMonth()]
                dt = [getContestStartDate.getDate(), getContestEndDate.getDate()]

                //add 0 if date,months are not 2 digits
                if (dt<10) {
                  dt = '0' + dt;
                }

                var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];  //Change month number to String
                contestStartDate = dt[0] + '/' + monthNames[month[0]] + '/' + year[0];  //COnverted to Short Date Format,
                contestEndtDate = dt[1] + '/' + monthNames[month[1]] + '/' + year[1];  //COnverted to Short Date Format

                $("#topic-photo").attr("src",value['topic_photo']);
                $("#cname").html(value['contest_name']);
                $(".contest-start-date").html(contestStartDate);
                $(".contest-end-date").html(contestEndtDate);
                $("#min-must-votes").html(value['min_must_votes']);
                $("#min-avg").html(value['min_avg']);
                $("#min-stddev").html(value['min_stddev']);
                $("#max-photos").html(value['max_photos_per_Reguser']);
                $(".tags-wrap").html(tagAsStr);
                $("#how-many-photos").html(value['photo_count']);




                $(document).ready(function(){
                  
                  var val = 1;
                  $(".contest-detail-content-wrap .contest-tags-wrap>.btn-txt-only").click(function(){
                      if (val === 1) {
                          $(this).siblings('.form-report').show();
                          val = 0;
                      }
                      else {
                          val = 1;
                          $(this).siblings('.form-report').hide();
                      }
                      return false;
                    });
                

                $("#mini-detail-open-btn").click(function(){
                      if (val == 1) {
                          $('#contest-details-wrap-mini').css({
                            'visibility':'visible',
                            'opacity':'1'
                          });
                          val = 0;
                      }
                      else {
                          val = 1;
                          $('#contest-details-wrap-mini').css({
                            'visibility':'hidden',
                            'opacity':'0'
                          });
                      }
                      return false;
                    });
                

               $(".contest-detail-content-wrap #prize-open-btn").click(function(){
                        if (val === 1) {
                            $(this).siblings('.prize-list').css({
                            'visibility':'visible',
                            'opacity':'1',
                            'height':'100%'
                          });
                            $(this).css('transform','rotate(-180deg)');
                            val = 0;
                        }

                        else {
                            val = 1;
                            $(this).siblings('.prize-list').css({
                            'visibility':'hidden',
                            'opacity':'0',
                            'height':'0'
                          });
                            $(this).css('transform','rotate(0deg)');
                        }

                        return false;
                    });
               });
            },
            error:function(result){
                console.log('error: ' + result);
            }
        });
    });
</script>

{% endblock %}

