{% extends 'base.html' %}

{% load static %}

{% block title %}Contests{% endblock %}

{% block body %}


<section id="contest-list-result">
  <div class="inner-more">
    <div class="container">
      <div class="feed-title-wrap row">
        <div class="links-wrap col-lg-8 col-sm-12">
          <a href="{% if query %}?q={{ query }}&{% else %}?{% endif %}upcoming=true">Upcoming Contests</a>
          <a href="{% if query %}?q={{ query }}&{% else %}?{% endif %}ongoing=true">Ongoing Contests</a>
          <a href="{% if query %}?q={{ query }}&{% else %}?{% endif %}finished=true">Finished Contests</a>
        </div>
        <div class="search-form-wrap col-lg-4 col-sm-12">
          <form class="search-form" method="GET" action="">
              <input type="text" class="form-control" name="q" placeholder="Search Contests" value="{{ request.GET.q }}"/>
              <input class="btn btn-fill" type="submit" value="Search"/>
          </form>
        </div>
        
      </div>
      <hr>
    </div>
</section>

<script>
    $(document).ready( function(){
       $.ajax({
           url: '{% url "contest_api:index" %}',
           type: 'GET',
           data: {
                {% if query %}'q': '{{ query }}', {% endif %}
                {% if ongoing %}'ongoing': {{ ongoing }}, {% endif %}
                {% if finished %}'finished': {{ finished }}, {% endif %}
                {% if upcoming %}'upcoming': {{ upcoming }}, {% endif %}
           },
           dataType: 'JSON',
           success: function(result){
                $.each(result['results'], function(index, value){

                  var getContestDate = new Date(value["end_date"]);  // Get Contest End Date in ISO Format
                  var tagAsStr = '';

                  $.each(value['tag'], function(index, data){
                      tagAsStr += "#" + data.title + "<br>";
                  });

                  year = getContestDate.getFullYear();
                  month = getContestDate.getMonth();
                  dt = getContestDate.getDate();

                  //add 0 if date,months are not 2 digits
                  if (dt<10) {
                    dt = '0' + dt;
                  }

                  var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];  //Change month number to String
                  contestEndDate = dt + '/' + monthNames[month] + '/' + year;  //COnverted to Short Date Format

                  var allContests = "<div class=\"row contest-list-item\">\n"+

                    "                           <div class=\"col-lg-3\">\n"+
                    "                               <div class=\"contest-img-wrap\">\n" +
                    "                                   {% if request.user.is_authenticated %}\n" +
                    "                                   <div class=\"overlay\">\n"+
                    "                                       <form action='../"+ value["slug"] +"/upload/'>\n" +
                    "                                           <input class=\"btn btn-fill\" type=\"submit\" value=\"Enter Now\">\n" +
                    "                                       </form>\n" +
                    "                                   </div>\n" +
                    "                                    {% endif %}\n" +
                    "                                   <img src='/../static/images/home-images/2.jpg' />\n" +
                    "                               </div>\n" +
                    "                           </div>\n" +
                    "                           <div class=\"col-lg-3\">\n"+
                    "                               <div class=\"contest-detail-wrap\">\n" +
                    "                                   <h5>"+ value["contest_name"] +"</h5>\n" +
                    "                                   <p>Everybody wants to see your new photos only images uploaded.</p>\n" +
                    "                                   <span class=\"contest-tags\">" + tagAsStr +"</span>\n" +
                    "                                   <div class=\"button-wrap\">\n" +
                    "                                     <a href='../"+value["slug"]+"' class=\"btn btn-fill\">Read More</a>\n" +
                    "                                   </div>\n" +
                    "                               </div>\n" +
                    "                           </div>\n" +
                    "                           <div class=\"col-lg-2 col-sm-4\">\n"+
                    "                               <div class=\"contest-date-wrap\">\n" +
                    "                                   <span class=\"contest-item-icon\"><img src='/../static/images/icons/calender.png' />Deadline</span>\n" +
                    "                                   <p>"+ contestEndDate +"</p>\n" +
                    "                               </div>\n" +
                    "                           </div>\n" +
                    "                            <div class=\"col-lg-2 col-sm-4\">\n"+
                    "                               <div class=\"contest-photo-count-wrap\">\n" +
                    "                                   <span class=\"contest-item-icon\"><img src='/../static/images/icons/album.png' />Photos</span>\n" +
                    "                                   <p>" + value['photo_count'] + "</p>\n" +
                    "                               </div>\n" +
                    "                           </div>\n" +
                    "                            <div class=\"col-lg-2 col-sm-4\">\n"+
                    "                               <div class=\"contest-prize-wrap\">\n" +
                    "                                   <span class=\"contest-item-icon\"><img src='/../static/images/icons/trophy.png' />Prize Pool</span>\n" +
                    "                                   <p>200 $</p>\n" +
                    "                               </div>\n" +
                    "                           </div>\n" +
                    "                </div>\n";

                    $(allContests).appendTo('#contest-list-result .container');
                });
               
           },
           error: function(data){
               console.log("Error");
           }
       });

    });
</script>


{% endblock %}