{% extends 'base.html' %}
{% load static %}
{% load ratings %}
{% load checkandincrease %}


{% block title %}Photo pool{% endblock %}


{% block body %}

<div style="margin-top: 100px; position: relative;" class="container justify-content-center align-items-center">
     <div class="section-title text-center">
        <h3>Photo pool</h3>
     </div>

   <div class="slide-control-2" id="control-1"></div>
   <div class="owl-carousel owl-theme card-slider text-center">
   </div>
</div>

<script>

    $(document).ready(function(){
       getPhotos(null);
       var owl = $('.owl-carousel').owlCarousel();
            owl.on('changed.owl.carousel', function(event){
                var itemIndex = event.item.index + 1;
                if(photoCount === 10){
                    itemIndex += 3;
                }else{
                    lastItemIndex = totalPhotoCount - 3;
                }

                if(itemIndex === (lastItemIndex)){
                    //owl.trigger('destroy.owl.carousel');
                    //owl.trigger('add.owl.carousel', [jQuery("<div class='card-body'>You have reached the end. Reorganizing photos.</div>")]);
                    getPhotos(next);
                }
            });
        });

    function report(photoId, event){
        var url = "http://127.0.0.1:8000/api/report-photo/" + photoId;
        event.preventDefault();
        $.ajax({
            url: url,
            type: "GET",
            success: function(result){
                alert('Successfuly reported this photo.');
            },
            error: function(result){
                alert('error' + result);
            }
        })
    }

        var lastItemIndex = 0; //THESE ARE IMPORTANT PLEASE DO NOT CHANGE
        var photoCount = 0; //THESE ARE IMPORTANT PLEASE DO NOT CHANGE
        var next = ""; //THESE ARE IMPORTANT PLEASE DO NOT CHANGE
        var totalPhotoCount = 0; //THESE ARE IMPORTANT PLEASE DO NOT CHANGE
        var photosSeen = []; //THESE ARE IMPORTANT PLEASE DO NOT CHANGE

        function writeResults(result, owl){
            $.each(result['results'], function(index, value){
                console.log(value);

                if(!photosSeen.includes(value['id'])){
                    owl.trigger('add.owl.carousel', [jQuery("<div class=\"card-body\" id='" + value["id"] + "'>\n" +
                   "           <a href='" + value['photoItself'] + "' data-fancybox data-caption=\"My caption\">\n" +
                   "            <img class=\"card-img-top\" src='" + value['photoItself'] + "'>\n" +
                   "           </a>\n" +
                   "            <div class=\"card-block text-center\">\n" +
                   "                <p>Click on image to see its original size.</p>\n" +
                   "                <h4 class=\"card-title\">Photo tag: " + value['contest']['tag'] + " </h4>\n" +
                   "                <br>\n" +
                   "                <iframe src='http://127.0.0.1:8000/photo/star_ratings/" + value['id'] + "' style='border: none; width: 100%'></iframe><br>\n" +
                   "                <form style=\"display: inline;\" onclick=\"report('"+ value['id'] + "', event)\">\n" +
                   "                    <input class=\"btn btn-danger btn-lg\" type=\"submit\" value=\"Report\" >\n" +
                   "                </form>\n" +
                   "            </div>\n" +
                   "       </div>")]);
                }

                photosSeen.push(value['id']);



            });
        }



        function getPhotos(Url){
            var url = "";
            //alert("get this: " + Url);
            if(Url === null){
                url = '{% url "index_api" slug=contest.slug %}';
            }else{
                url = Url;

            }

            $.ajax({
                url: url,
                type: "GET",
                success: function(result){
                    var count = result["count"];
                    next = result["next"];
                    var pre = result["previous"];
                    lastItemIndex += result['results'].length;
                    photoCount = result['results'].length;
                    totalPhotoCount = result['count'];
                    var owl = $('.owl-carousel').owlCarousel({items:2, nav:true, loop: false, lazyLoad: true});
                    writeResults(result, owl);

                    owl.trigger('refresh.owl.carousel', {nav: false, loop:true});

                },
                error: function(result){
                    console.log(result);
                }
            });

        }


</script>

{% endblock %}

<!--           {% for photo in photos %}

       <div class="card-body">
           <a href="{{ photo.photoItself.url }}" data-fancybox data-caption="My caption">
            <img class="card-img-top" src="{{ photo.photoItself.url }}">
           </a>
            <div class="card-block text-center">
                <p>Click on image to see its original size.</p>
                <h4 class="card-title">Photo tag: {{ photo.contest.tag }} </h4>
                {% ratings photo %} <br>
                <br>
                <form style="display: inline;" onclick="report('{{ photo.id }}', event)">
                    <input class="btn btn-danger btn-lg" type="submit" value="Report" >
                </form>
            </div>
       </div>
        {% endfor %}   -->

