{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Photo upload {% endblock %}

{% block body %}

    <div class="container">
        <div class="inner-more">
            <div class="col-sm-6 offset-3">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3>Choose your photo.</h3>
                    {{ form|crispy }} <!--altı çizi olması pycharm kaynaklı-->
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="show">
                        <label class="form-check-label" for="exampleCheck1">I want this photo to be shown on my profile.</label>
                    </div>

                    <input class="btn btn-primary" type="submit" value="Upload">
                </form>
            </div>
        </div>
    </div>

{% endblock %}


