{% extends 'base.html' %}
{% load static %}
{% load ratings %}
{% load checkandincrease %}


{% block title %}Photo pool{% endblock %}


{% block body %}

<div style="margin-top: 100px; position: relative;" class="container justify-content-center align-items-center">
     <div class="section-title text-center">
        <h3>Photo pool</h3>
     </div>

   <div class="slide-control-2" id="control-1"></div>
   <div class="" id="photoPool">
   </div>
</div>

<script>

    function getPhotos(){
        $.ajax({
            url: '{% url 'index_api' contest=contest.slug %}',
            type: 'GET',
            success: function(result){
                console.log(result);
                var count = result["count"];
                var next_page = result["next"];
                var previous_page = result["previous"];
                var html = "";
                $.each(result["results"], function(index, value){

                    html = "<div class='owl-item'><div class=\"card-body\">\n" +
                        "           <a href=\'" + value["photoItself"] + "\' data-fancybox data-caption=\"My caption\">\n" +
                        "            <img class=\"card-img-top\" src=\'" + value["photoItself"] + "\'>\n" +
                        "           </a>\n" +
                        "            <div class=\"card-block text-center\">\n" +
                        "                <p>Click on image to see its original size.</p>\n" +
                        "                <h4 class=\"card-title\">Photo tag: " + value["contest"] + " </h4>\n" +
                        "                <div class='col-md-12 col-xs-12'><iframe style=\"width:100%; border: none;\" src=\"http://127.0.0.1:8000/photo/get-rating/" + value["id"] + "\"></iframe></div>  <br>\n" +
                        "                <br>\n" +
                        "                <form style=\"display: inline;\" onclick=\"report('"+ value["id"] + "', event)\">\n" +
                        "                    <input class=\"btn btn-danger btn-lg\" type=\"submit\" value=\"Report\" >\n" +
                        "\n" +
                        "                </form>\n" +
                        "            </div>\n" +
                        "       </div></div>";

                    $('#photoPool').trigger('add.owl.carousel', [jQuery(html)])
                    .trigger('refresh.owl.carousel');


                });



            },
            error: function(result){
                alert(result);
            }
        })
    }

    function report(photoId, event){
        var url = "http://127.0.0.1:8000/api/report-photo/" + photoId;
        event.preventDefault();
        $.ajax({
            url: url,
            type: "GET",
            success: function(result){
                alert('Successfuly reported this photo.');
            },
            error: function(result){
                alert('error' + result);
            }
        })
    }

    jQuery(function($){
        $(document).ready(function(){
        console.log("hahahahaha");
        //$(".owl-prev").css('visibility', 'hidden');


        console.log("asdasdad");

        getPhotos();


        //alert(owlCarousel());
        });
    });





</script>
    {% endblock %}


<!--<div class="container">
   <div class="section-title text-center">
    <h3>Cards with <span>Carousesl</span></h3>
   </div>
   <div class="slide-control-2" id="control-1"></div>
   <div class="owl-carousel owl-theme card-slider">
    <div class="card-body">
     <img class="card-img-top" src="images/test/harley1.jpg">
     <div class="card-block">
      <h4 class="card-title">First Card</h4>
      <p class="card-text"> This is some info about the card </p>
      <a href="#" class="button round border no-shadow small first-stop-btn">Take me somewhere</a>
     </div>
    </div>

    <div class="card-body">
     <img class="card-img-top" src="images/test/harley2.jpg">
     <div class="card-block">
      <h4 class="card-title">Second Card</h4>
      <p class="card-text"> This is some info about the card </p>
      <a href="#" class="button round border no-shadow small">Take me somewhere</a>
     </div>
    </div>
   </div>
  </div>-->


