{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>

    <link rel="alternate" href="http://alercelik.pythonanywhere.com/" hreflang="en" />   <!--Domain ismi değişir. Ve sadece base'de değil her sayfada eklemek gerekebilir -->
    <link rel="stylesheet" href="{% static 'fonts/fontawesome/css/font-awesome.min.css' %} "/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    {% block css %}

    {% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Raleway:200i,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i" rel="stylesheet">
    {% block first_scripts %}
    {% endblock %}
</head>
<body>

{% if not user.is_authenticated and "en" == request.session.language  %}
    {% include 'header.html' %}
{% endif %}
{% if not user.is_authenticated and "en" != request.session.language %}
    {% include 'header-tr.html' %}
{% endif %}

{% if user.is_authenticated %}
    {% if user.profile.languagePreference == "en" %}
        {% include 'header.html' %}
    {% endif %}
    {% if user.profile.languagePreference != "en" %}
        {% include 'header-tr.html' %}
    {% endif %}
{% endif %}

{% include 'messages.html' %}
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.fancybox.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.mobile.custom.min.js' %}"></script>

{% block body %}

{% endblock %}
{% include 'footer.html' %}

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/main-script.js'%}"></script>
    {% block scripts %}
    {% endblock %}



</body>
</html>